version: '3.8'

services:
  backend:
    build:
        context: .
        dockerfile: Dockerfile
    container_name: personal_collection_tracker_backend
    environment:
      SPRING_PROFILES_ACTIVE: "docker"
    ports:
      - "8080:8080"
    depends_on:
      - sqlDatabase
  sqlDatabase:
    image: mysql:9.4.0
    container_name: sql_database
    environment:
      MYSQL_ROOT_USER: root
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: personal_collection
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
